In [16]:
import pandas as pd

boston_df = pd.read_csv('./datasets/Boston.csv')
boston_df

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,502,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,503,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,504,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,505,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,506,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [17]:
x = boston_df.drop(columns=['Unnamed: 0','medv'], axis=1)
y = boston_df['medv']

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=00)

In [18]:
from sklearn.preprocessing import MinMaxScaler

mms = MinMaxScaler()

x_train = mms.fit_transform(x_train)
x_test = mms.fit_transform(x_test)

In [19]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np

lr = LinearRegression()
lr.fit(x_train, y_train)
y_pred = lr.predict(x_test)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)

print('MSE : {0:.3f}, RMSE : {1:.3f}'.format(mse, rmse))
print('Variance score : {0:.3f}'.format(r2_score(y_test,y_pred)))

MSE : 37.817, RMSE : 6.150
Variance score : 0.536

In [20]:
print('ì ˆíŽ¸ ê°’: ', lr.intercept_)
print('íšŒê·€ ê³„ìˆ˜ê°’:', np.round(lr.coef_,1))

ì ˆíŽ¸ ê°’:  27.616202598136617
íšŒê·€ ê³„ìˆ˜ê°’: [-10.6   4.5   0.1   2.3  -7.8  19.4  -0.3 -15.2   5.6  -5.8  -9.8   3.2
 -17.4]

In [21]:
x.columns

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'black', 'lstat'],
      dtype='object')

In [22]:
pd.DataFrame(lr.coef_, index=x.columns)

                 0
crim    -10.626869
zn        4.477995
indus     0.149638
chas      2.340804
nox      -7.836072
rm       19.355752
age      -0.303057
dis     -15.184240
rad       5.616102
tax      -5.758570
ptratio  -9.831659
black     3.216306
lstat   -17.370944

In [25]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=156)

from sklearn.preprocessing import MinMaxScaler


x_train =MinMaxScaler().fit_transform(x_train)
x_test = MinMaxScaler().fit_transform(x_test)

from sklearn.metrics import mean_absolute_error, mean_squared_error

li_rgr = LinearRegression()
li_rgr.fit(x_train,y_train)
li_boston_pred = li_rgr.predict(x_test)

print("mse : ",mean_squared_error(y_test,li_boston_pred), "mae : ",mean_absolute_error(y_test,li_boston_pred))
print("ì ˆíŽ¸ê°’",li_rgr.intercept_,"íšŒê·€ ê³„ìˆ˜ê°’",li_rgr.coef_)

mse :  17.39431933703928 mae :  3.1799504080536134
ì ˆíŽ¸ê°’ 27.71785861519116 íšŒê·€ ê³„ìˆ˜ê°’ [ -9.331963     6.41812066   1.07180379   2.75649142  -9.68329439
  18.00034119   0.57860826 -18.09617926   7.55550614  -6.89596918
  -8.31387638   3.66526738 -19.71901989]